{% extends 'question/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ object.user.profile.image.url }}" />
    <div class="media-body">
      <h2 class="account-heading">{{ object.user.username }}</h2>
      <p class="text-secondary">{{ object.user.get_full_name }} - {{ object.user.email }}</p>
      <p class="article-content">{{ object.description }}</p>
    </div>
  </div>
</div>
{% if object.user == user %}
<div>
  <a class="btn btn-outline-info" href="{% url 'profile' %}">Editar Perfil</a>
  <a class="btn btn-outline-danger" href="{% url 'user-delete' user.id %}">Excluir Perfil</a>
</div>
{% endif %}
<div style="margin-top: 20px">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="question-tab" data-toggle="tab" href="#question" role="tab"
        aria-controls="question" aria-selected="true">Perguntas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="answer-tab" data-toggle="tab" href="#answer" role="tab" aria-controls="answer"
        aria-selected="false">Respostas</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="question" role="tabpanel" aria-labelledby="question-tab">
      {% if object.user.question_set.all %}
      {% for question in object.user.question_set.all reversed %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ question.date_posted|date:"F d, Y" }}</small>
          </div>
          <h4>
            <a class="article-title" href="{% url 'question-detail' question.id %}">{{ question.title }}</a>
          </h4>
        </div>
      </article>
      {% endfor %}
      {% else %}
      <div class="content-section">
        <p class="article-content">Nenhuma pergunta postada.</p>
      </div>
      {% endif %}

    </div>
    <div class="tab-pane fade" id="answer" role="tabpanel" aria-labelledby="answer-tab">
      {% if object.user.answer_set.all %}
      {% for answer in object.user.answer_set.all reversed %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ answer.date_posted|date:"F d, Y" }}</small>
          </div>
          <h4>
            <a class="article-title"
              href="{% url 'question-detail' answer.question.id %}">{{ answer.question.title }}</a>
          </h4>
          <p class="article-content">{{ answer }}</p>
        </div>
      </article>
      {% endfor %}
      {% else %}
      <div class="content-section">
        <p class="article-content">Nenhuma resposta postada.</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}