{% extends "question/base.html" %}
{% block content %}
<h3>Projeto do curso Engenharia de Software 2019/1 - UFMG</h3>
<p>
    Simulação de um site no qual usuários podem se cadastrar e postar perguntas
    e respostas, similar ao StackOverflow.
</p>
<p>
    O site foi construído usando o framework Django, além de princípios e práticas de programação ágil.
</p>
<p>
    Desenvolvedores:
</p>
<ul>
    <li>
        Antônio Côrtes Rodrigues - cortesantoniorod@gmail.com
    </li>
    <li>
        Tomás Tamantini - tomasbft@gmail.com
    </li>
</ul>
{% endblock %}