{% extends "question/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <h2>Deseja mesmo excluir a pergunta?</h2>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">
                    Sim
                </button>
                <a class="btn btn-outline-secondary" href="{% url 'question-detail' object.id %}">
                    Não, cancelar
                </a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}